* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

main {
  background-color: #f9fffd;
}

header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  border-bottom: 1px solid #043322;
  background-color: #90f1ce;
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.logo {
  width: 18%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

ul {
  list-style: none;
}

.nav {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10%;
  gap: 5%;
}

.container {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  padding: 2rem 0;
  row-gap: 2rem;
  column-gap: 5%;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #151515d9;
  width: 100%;
  height: 100vh;
  z-index: 20;
  backdrop-filter: blur(0.25rem);
  overflow-y: hidden;
}

.inner-content,
.comment-create {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.popup-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 400px;
  height: 85%;
  border-radius: 1rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: #f9fffd;
  z-index: 20;
  overflow-x: hidden;
  overflow-y: scroll;
}

.popup-header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 15rem;
}

.fa-times {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}

.show-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto;
  font-size: 1.15rem;
  line-height: 1.75rem;
}

.image-info {
  margin: 0 auto;
}

.image-info > img {
  margin-bottom: 1rem;
}

.comment-section {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}

.comment-display {
  margin-bottom: 2rem;
}

.comment-create {
  gap: 0.75rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

input[name="username"],
textarea[name="insights"] {
  width: 100%;
  resize: none;
  padding: 0.75rem;
  border-radius: 1rem;
}

.photo-close img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.fixed-top {
  z-index: 20;
  box-shadow: 0 12px 16px 6px rgb(0 0 0 / 5%);
}

.photo-close span {
  margin: -20px;
  position: absolute;
  right: 30px;
}

.btn-add-comment {
  margin: 20px 0;
  align-self: flex-end;
}

button {
  background-color: #145f44;
  border: none;
  color: #90f1ce;
  padding: 10px 20px;
  border-radius: 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 300ms;
}

button:hover {
  background-color: #043322;
}

.film {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border: 1px solid #043322;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #90f1ce;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.fa-heart {
  cursor: pointer;
}

footer {
  border-top: 1px solid #043322;
  padding: 2.5rem 4rem;
  font-size: 1.5rem;
}
